body {
    background-color: indigo;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.inactive {
    display: none !important;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100vh;
    /* width: 100vw; */
}

canvas {
    border: 4px solid #ff6600;
    border-radius: 8px;
    background-color: #feff9d;
}

.btns {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-template-areas:
        "up up"
        "left right"
        "down down";
    place-items: center center;
    row-gap: 10px;
}
.btns button {
    cursor: pointer;
}
#up {
    grid-area: up;
}
#right {
    grid-area: right;
}
#left{
    grid-area: left;
}
#down{
    grid-area: down;
}
button {
    background-color: #fdef05;
    border-radius: 8px;
    border-color: #ff6600;
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: 100px;
}
button:not(:last-child) {
    margin-right: 10px;
}

.game-details{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lives-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
    max-width: 460px;
    box-shadow: 0px -3px 35px 0px #240127ae;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
}

p {
    display: block;
    margin: 0;
    width: 100%;
}

/* MODAL FOR WIN WINDOW */
.modal-win-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3b2a3f80;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 60%;
    background-color: #3b2a3f;
    border-radius: 50px;
    box-shadow: rgba(204, 204, 204, 0.25) 0px 54px 55px;
}

.modal-win-card p {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.modal-win-btns {
    display: flex;
}

.modal-win-btns button {
    cursor: pointer;
}

.modal-win-btns #winBtn{
    border: none;
    font-size: 18px;
    color: #2d2d2d;
    background-color: rgb(33, 218, 33);
    width: 200px;
    height: 60px;
}

.modal-win-btns #winBtn:hover{
    animation: clickOnBtn 1000ms linear infinite forwards;
}

@keyframes clickOnBtn {
    0%{
        transform: scale(1);
    }
    15%{
        transform: scale(.8);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

/* .modal-win-btns #exitBtn{
    border: none;
    font-size: 18px;
    color: #2d2d2d;
    background-color: rgb(218, 58, 33);
} */

/* record windows */
.record-window-container{
    position: absolute;
    right: 0;
    top: 0;
    width: 220px;
}

.record-window{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    color: #2d2d2d;
    border-radius: 0 0 0 15px;
    padding: 10px 10px 10px 0;
    transition: all 450ms ease-in;
}

.record-window .arrow-record{
    background-color: #fff;
    position: relative;
    left: -22px;
    padding: 3px 5px;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.slide-right {
    transform: translateX(80%);
}

@keyframes slideRight{
    0%{
        transform: scale(1);
    }

}

.arrow-record p {
    color: #2d2d2d;
    transition: all 200ms ease-in;
}

.rotate-180deg{
    transform: rotate(-180deg);
}

.record-window span{
    display: block;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-right: 10px;
    margin-left: -10px;
    color: #2d2d2d;
}

@media (max-width: 440px) {
    .record-window-container{
        width: 100%;
/*         height: 100%; */
        display: flex;
        justify-content: end;
        overflow: hidden;
    }
    .record-window{
        width: 130px;
        height: 10%;
        font-size: 12px;
    }
    .record-window .arrow-record{
        left: -15px;
    }
    .arrow-record p{
        font-size: 12px;
    }
    .modal-content-container {
        width: 80%;
        height: 40%;
    }
    .game-details{
        flex-direction: row;
    }
    .modal-win-btns #winBtn{
    animation: clickOnBtn 1000ms linear infinite forwards;
    }
}

