body {
    background-color: indigo;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.inactive {
    display: none !important;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

canvas {
    border: 4px solid #ff6600;
    border-radius: 8px;
    background-color: #feff9d;
}

.btns {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-template-areas:
        "up up"
        "left right"
        "down down";
    place-items: center center;
    row-gap: 10px;
    margin-top: 20px;
}
.btns button {
    cursor: pointer;
}
#up {
    grid-area: up;
}
#right {
    grid-area: right;
}
#left{
    grid-area: left;
}
#down{
    grid-area: down;
}
button {
    background-color: #fdef05;
    border-radius: 8px;
    border-color: #ff6600;
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: 100px;
}

button:not(:last-child) {
    margin-right: 10px;
}

.lives-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 20%;
    max-width: 460px;
    /* border: 1px #2d2d2d solid; */
    box-shadow: 0px -3px 35px 0px #240127ae;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-size: 36px;
}

p {
    display: block;
    margin: 0;
    width: 100%;
}

/* MODAL FOR WIN WINDOW */
.modal-win-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3b2a3f80;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 60%;
    background-color: #3b2a3f;
    border-radius: 50px;
    box-shadow: rgba(204, 204, 204, 0.25) 0px 54px 55px;

}

.modal-win-card p {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.modal-win-btns {
    display: flex;
}

.modal-win-btns button {
    cursor: pointer;
}

.modal-win-btns #winBtn{
    border: none;
    font-size: 18px;
    color: #2d2d2d;
    background-color: rgb(33, 218, 33);
    width: 200px;
    height: 60px;
}

.modal-win-btns #winBtn:hover{
    animation: clickOnBtn 1000ms linear infinite forwards;
}

@keyframes clickOnBtn {
    0%{
        transform: scale(1);
    }
    15%{
        transform: scale(.8);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

/* .modal-win-btns #exitBtn{
    border: none;
    font-size: 18px;
    color: #2d2d2d;
    background-color: rgb(218, 58, 33);
} */


@media (max-width: 440px) {
    button {
        margin-top: 25px;
    }

    #up,
    #down {
        margin-left: 100%;
        margin-right: 100%;
    }
}

